* {
  box-sizing: border-box; }

body {
  background-color: white; }

img {
  max-width: 100%; }

ul,
li,
h1,
h2,
h3,
h4,
p,
figure {
  list-style: none;
  margin: 0;
  padding: 0; }

/*missing alt attribute*/
img:not([alt]) {
  outline: 5px dashed red;
  outline-offset: 5px; }

/*empty alt attribute*/
img[alt=""] {
  outline: 5px solid blue;
  outline-offset: 15px; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif; }

.uti-svg-ico {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  line-height: 0;
  width: 3rem; }

h1 {
  color: red; }

.wrapp {
  width: 1440px;
  max-width: 95%;
  height: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 830px 610px;
  grid-template-rows: 170px 630px; }
  .wrapp .logo-mobile {
    display: none; }
  .wrapp-hero {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(/images/bg-pattern-desktop.svg), linear-gradient(#fff9f9, #fff8f9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
    .wrapp-hero-block {
      height: 100%;
      width: 100%;
      padding: 6rem 21.5rem 0 16.5rem; }
      .wrapp-hero-block-logo {
        margin-bottom: 13.5rem; }
      .wrapp-hero-block-title {
        font-size: 8rem;
        text-transform: uppercase;
        color: #413a3a;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 2rem; }
        .wrapp-hero-block-title span {
          font-weight: 300;
          color: #ce9797;
          letter-spacing: 10px;
          display: block; }
      .wrapp-hero-block-text {
        color: #ce9797;
        line-height: 1.6;
        margin-bottom: 5rem; }
      .wrapp-hero-block-form {
        width: 445px;
        height: 55px;
        max-width: 98%;
        margin: 0 auto;
        position: relative; }
        .wrapp-hero-block-form-email {
          height: 100%;
          width: 100%;
          border-radius: 50px;
          border: none;
          outline: none;
          padding: 0 15rem 0 3rem;
          border: 1px solid rgba(128, 128, 128, 0.623);
          background: transparent; }
          .wrapp-hero-block-form-email::placeholder {
            color: #c2b5b6; }
        .wrapp-hero-block-form-btn {
          position: absolute;
          display: flex;
          height: 100%;
          cursor: pointer;
          top: 0;
          right: -1px;
          width: 100px;
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.363);
          border-radius: 50px;
          align-items: center;
          border: none;
          justify-content: center;
          background: linear-gradient(130deg, #f5b8b7, #f09394); }
          .wrapp-hero-block-form-btn:hover {
            background: linear-gradient(130deg, #fbd9d8, #f7cbcc); }
        .wrapp-hero-block-form-icon {
          position: absolute;
          top: 25%;
          right: 25%;
          visibility: hidden;
          transition: all 0.4s ease; }
        .wrapp-hero-block-form-error {
          color: red;
          margin-top: 2rem;
          margin-left: 3rem;
          display: block;
          visibility: hidden;
          transition: all 0.4s ease; }
  .wrapp-image {
    grid-column: 2/3;
    grid-row: 1/3; }

@media (max-width: 600px) {
  .wrapp {
    max-width: 98%;
    height: auto;
    margin: 3rem auto;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
    .wrapp .logo-mobile {
      display: inline-block;
      grid-row: 1/2;
      margin: 3rem; }
    .wrapp-image {
      grid-row: 2/3;
      grid-column: 1/2; }
    .wrapp-hero {
      grid-row: 3/4; }
      .wrapp-hero-block {
        padding: 5rem 0;
        text-align: center; }
        .wrapp-hero-block-logo {
          display: none; }
        .wrapp-hero-block-title {
          font-size: 3rem;
          padding: 0 4rem;
          letter-spacing: 16px; }
          .wrapp-hero-block-title span {
            letter-spacing: 15px; }
        .wrapp-hero-block-text {
          padding: 0 3rem;
          font-size: 1.4rem; }
        .wrapp-hero-block-form {
          width: 311px;
          height: 46px; }
          .wrapp-hero-block-form-btn {
            width: 65px; }
          .wrapp-hero-block-form-error {
            margin-left: 2.5rem;
            text-align: left; } }
