h1 {
   color: red;
}

.wrapp {
   background-image: url(/images/bg-pattern-desktop.svg);
   width: 1440px;
   height: 800px;
   border: 1px solid lightblue;
   margin: 0 auto;
   border-radius: 15px;
}
